<div class="main">
    <div>
            <h2>Register</h2>
    </div>
    <form class="formDiv" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        &nbsp;
        <mat-form-field class="formWidth">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Enter Name"  formControlName="employeeName">
                <mat-error *ngIf="registerForm.get('employeeName').invalid &&
                registerForm.get('employeeName').touched || registerForm.get('employeeName').dirty">{{getFnameError()}}</mat-error>
         </mat-form-field>
         <mat-form-field class="formWidth">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter Email"  formControlName="email">
            <mat-error *ngIf="registerForm.get('email').invalid &&
            registerForm.get('email').touched || registerForm.get('email').dirty">{{getEmailError()}}</mat-error>
         </mat-form-field>
         <!-- <mat-form-field class="formWidth">
            <mat-label>Date</mat-label>
            <input matInput placeholder="Enter Date"  formControlName="localDateTime">
         </mat-form-field> -->
        <mat-form-field class="formWidth">
            <mat-label>Salary</mat-label>
            <input matInput placeholder="Enter Salary"  formControlName="salary">
            <mat-error *ngIf="registerForm.get('salary').invalid &&
            registerForm.get('salary').touched || registerForm.get('salary').dirty">{{getSalaryError()}}</mat-error>
        </mat-form-field>
        <button  mat-raised-button color="primary" type="button" (click)="list()">Cancel</button>
        <button  [disabled] = "!registerForm.valid" mat-raised-button color="primary" type="submit">Save</button>
        <!-- <button  mat-raised-button color="primary" type="button" (click)="update()">Update</button> -->
        <!-- [disabled]="!registerForm.valid" -->

    </form>
</div>